/* Reset styles for buyable funnies widget */
.buyablefunnies_widget, .buyablefunnies_widget div, .buyablefunnies_widget span, .buyablefunnies_widget a, .buyablefunnies_widget img {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: 100% !important;
	font: inherit !important;
	vertical-align: baseline !important;
}
.buyablefunnies_widget span {display:inline !important;}
.buyablefunnies_widget img {
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
}
.buyablefunnies_widget {
	line-height: 1 !important;
	font-size:12px !important;
	line-height:18px !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), color-stop(0.10, #ffffff), color-stop(0.90, #ffffff), to(#e7e7e7)) !important;
  	background: -webkit-linear-gradient(top, #e7e7e7, #ffffff 10%, #ffffff 90%, #e7e7e7) !important;
	background: -moz-linear-gradient(top, #e7e7e7, #ffffff 10%, #ffffff 90%, #e7e7e7) !important;
	background: -ms-linear-gradient(top, #e7e7e7, #ffffff 10%, #ffffff 90%, #e7e7e7) !important;
	background: -o-linear-gradient(top, #e7e7e7, #ffffff 10%, #ffffff 90%, #e7e7e7) !important;
}
.buyablefunnies_widget * {
	-webkit-box-sizing: content-box !important; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box !important;    /* Firefox, other Gecko */
	box-sizing: content-box !important;
}

/* = clearfix */
.buyablefunnies_widget h4, .buyablefunnies_widget h5 {font-weight:normal !important; font-family:inherit !important;}
.buyablefunnies_widget .buyablefunnies_widget_clearfix:before, .buyablefunnies_widget .buyablefunnies_widget_clearfix:after { content: "" !important; display: table !important; }
.buyablefunnies_widget .buyablefunnies_widget_clearfix:after { clear: both !important; }  
.buyablefunnies_widget .buyablefunnies_widget_clearfix { zoom: 1 !important; }

.buyablefunnies_widget {
	border:1px solid #000000 !important;
	/*-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	-khtml-border-radius: 4px !important;*/
	width:298px !important;
	height:248px !important;
	background-color:#ffffff !important;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#000000 !important;
}
.buyablefunnies_widget .buyablefunnies_widget_header {
	height:20px !important;
	width:278px !important;
	padding:10px !important;
}
.buyablefunnies_widget .buyablefunnies_widget_logo {
	float:left !important;
	width:138px !important;
	height:20px !important;
	margin:0 20px 0 0 !important;
	background:transparent url('http://d30exyil9uoqwq.cloudfront.net/widget-logo.png') no-repeat 0 0 !important;
	display:block !important;
	outline:none !important;
}
.buyablefunnies_widget .buyablefunnies_widget_arrow {
	float:left !important; 
	width:10px !important; 
	height:20px !important;
}
.buyablefunnies_widget .buyablefunnies_widget_arrow a {
	width:10px !important; 
	height:20px !important; 
	display:none !important;
	outline:none !important;
}
.buyablefunnies_widget .buyablefunnies_widget_prev a {
	width: 0 !important;  
	height: 0 !important;  
	border-top: 10px solid transparent !important; 
	border-bottom: 10px solid transparent !important;
	border-right: 10px solid #000000 !important; 
}
.buyablefunnies_widget .buyablefunnies_widget_date {
	float:left !important;
	width:80px !important;
	height:20px !important;
	margin:0 10px !important;
	text-align:center !important;
	line-height:20px !important;
	font-size:12px !important;
	font-family:inherit !important;
}
.buyablefunnies_widget .buyablefunnies_widget_next a {
	width: 0 !important;  
	height: 0 !important;  
	border-top: 10px solid transparent !important; 
	border-bottom: 10px solid transparent !important;
	border-left: 10px solid #000000 !important; 
}
.buyablefunnies_widget .buyablefunnies_widget_content_wrap {
	width: 298px !important;
	height: 198px !important;
	padding:0 0 10px 0 !important;
	background-color:transparent !important;
	background-image:url('http://d30exyil9uoqwq.cloudfront.net/bf-loader.gif') !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
}
.buyablefunnies_widget .buyablefunnies_widget_content {
	width:298px !important;
	height:198px !important;
	display:none !important;
}
.buyablefunnies_widget .buyablefunnies_widget_product {
	float:left !important;
	outline:none !important;
	width:129px !important;
	height:198px !important;
	display:block !important;
	text-decoration:none !important;
	color:#000000 !important;
	text-align:center !important;
	padding:0 10px !important;
}
.buyablefunnies_widget .buyablefunnies_widget_product:hover {color:#0000cc !important;}
.buyablefunnies_widget .buyablefunnies_widget_product h4 {
	margin:0 0 5px 0 !important;
	overflow:hidden !important;
	font-size:12px !important;
	line-height:15px !important;
	height:45px !important;
	overflow:hidden !important;
	font-weight:bold !important;
	width:129px !important;
}
.buyablefunnies_widget .buyablefunnies_widget_product h5 {
	font-size:11px !important;
	line-height:15px !important;
	height:30px !important;
	margin:5px 0 0 0 !important;
	overflow:hidden !important;
	width:129px !important;
}

.buyablefunnies_widget .buyablefunnies_widget_img_wrap {margin:0 auto !important; width:100px !important; height:100px !important; }
.buyablefunnies_widget .buyablefunnies_widget_img {width:100px !important; height:100px !important;}
.buyablefunnies_widget .buyablefunnies_widget_img_align {vertical-align: bottom !important; display: table-cell !important;}
.buyablefunnies_widget .buyablefunnies_widget_product img {margin:0 auto !important; width:auto !important;}
.buyablefunnies_widget .buyablefunnies_widget_product img.buyablefunnies_widget_wide {width:100% !important;}
.buyablefunnies_widget .buyablefunnies_widget_product img.buyablefunnies_widget_tall {height:100% !important;}

.buyablefunnies_widget .buyablefunnies_widget_price {font-weight:bold !important; height:13px !important; line-height:13px !important; overflow:hidden !important; font-size:12px !important; text-align:center !important; width:129px !important; font-family:inherit !important;}
.buyablefunnies_widget .buyablefunnies_widget_lowprice {text-decoration:line-through !important; font-weight:normal !important; font-size:10px !important; font-family:inherit !important;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	.buyablefunnies_widget .buyablefunnies_widget_logo {background-image:url('http://d30exyil9uoqwq.cloudfront.net/widget-logo-x2.png') !important; background-size: 138px 20px !important;}
}